AZURE_CLIENT_ID={{ azure_client_id }}
AZURE_CLIENT_SECRET={{ azure_client_secret }}
AZURE_KEY_VAULT_URL=https://{{ kvname }}.vault.azure.net
AZURE_TENANT_ID={{ azure_tenant_id }}
KEY_VAULT_NAME={{ kvname }}
